doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='')
    meta(name='description', content='')
    // SITE TITLE
    title Abhijeeth Baregal
    // STYLESHEETS
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/templatemo-style.css')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600,700', rel='stylesheet', type='text/css')
    //
  body(data-spy='scroll', data-target='#rock-navigation')
  if user
    .navbar.navbar-default.bs-dos-nav.navbar-fixed-top.sticky-navigation(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='#rock-navigation')
            span.icon.icon-bar
            span.icon.icon-bar
            span.icon.icon-bar
          a.navbar-brand(href='/') Welcome
        nav#rock-navigation.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right.main-navigation.text-uppercase
            li
              a.smoothScroll(href='/') Home
            if user
              li
                a.smoothScroll(href='/articles/add') Suggestions
            if user
              li
                a.smoothScroll(href='#work') My Work
              li
                a.smoothScroll(href='#portfolio') My Projects
              li
                a.smoothScroll(href='#resume') Resume
              li
                a.smoothScroll(href='#about') About
              li
                a.smoothScroll(href='#contact') Contact
              li
                a.smoothScroll(href='/users/logout') Logout
  if !user
    .navbar.navbar-default.bs-dos-nav.navbar-fixed-top.sticky-navigation(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='#rock-navigation')
            
          a.navbar-brand(href='/') Welcome
        nav#rock-navigation
          ul.nav.navbar-nav.navbar-right.main-navigation.text-uppercase
            li
              a(href='/users/signup') SignUp
            li
              a(href='/users/login') Login
            
              
    // END NAVIGATION
    // START HOME
  if !user
    section#home.templatemo-home
      .container
        .row
          .col-md-2.col-sm-1
          .col-md-8.col-sm-10
            h1.tm-home-title
              strong SignUp to view my Profile
            h2.tm-home-subtitle If you are User, Please Login

  if user
    section#home.templatemo-home
      .container
        .row
          .col-md-2.col-sm-1
          .col-md-8.col-sm-10
            h1.tm-home-title
              strong Abhijeeth Baregal
            h2.tm-home-subtitle FrontEnd Developer
            p
              |I am a Graduate Student at    
              strong University of Louisiana at Lafayette 
              |  specializing in 
              strong Web Applications Dev
              |  and 
              strong Embedded Systems
              | . Accustomed to fast-paced environment, team and individual projects. Reputation for quick Learner 
              strong 
              | . Let us work together. Thank you.
            a.btn.btn-default.smoothScroll.tm-view-more-btn(href='#work') Let's Begin
          .col-md-2.col-sm-1
    // END HOME
    // START work
  if user
    section#work.tm-padding-top-bottom-100
      .container
        .row
          .col-md-offset-1.col-md-11
            h2.title
              | My 
              strong Work
          .col-md-4.col-sm-4
            .work-wrapper
              i.fa.fa-flash
              h3.text-uppercase.tm-work-h3 Intern at PIXMINDZ LABS Private Ltd.
              hr
              p
                | Worked on website development using Ruby on Rails, HTML and CSS
                | . Developing and maintaining functionalities like users, full login and authentication framework
          .col-md-4.col-sm-4
            .work-wrapper
              i.fa.fa-flash
              h3.text-uppercase.tm-work-h3 Project Trainee at Supath Info Technologies Private Ltd.
              hr
              p
                | Exposed to ‘'MySQL Database'' and worked regarding technical aspects of Data management
                | Developed an online CV Builder database project with PHP-MySQL database connectivity
          .col-md-4.col-sm-4
            .work-wrapper
              i.fa.fa-dashboard
              h3.text-uppercase.tm-work-h3 Project Trainee at PIXMINDZ LABS Private Ltd.
              hr
              p
                | Engaged in Android Operating System and application development
                | Built a “College Alerts” Android application
    // END work
    // START PORTFOLIO
    section#portfolio.tm-portfolio
      .container
        .row
          .col-md-12.wow.bounce
            .title
            if user
              h2.tm-portfolio-title
                | My 
                strong Projects
            // START ISO SECTION
            .iso-section
              ul.filter-wrapper.clearfix
                li
                  a.opc-main-bg.selected(href='#', data-filter='*') Ruby on Rails
                li
                  a.opc-main-bg(href='#', data-filter='.html') Programming Languages
                li
                  a.opc-main-bg(href='#', data-filter='.photoshop') Computer Graphics
                li
                  a.opc-main-bg(href='#', data-filter='.wordpress') Embedded systems
                li
                  a.opc-main-bg(href='#', data-filter='.mobile') Image Processing
              .iso-box-section
                .iso-box-wrapper.col4-iso-box
                  .iso-box.html.photoshop.wordpress.mobile.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='/project/nodekb/images/portfolio-img1.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title 
                        p Project Description
                  .iso-box.html.wordpress.mobile.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='/project/nodekb/images/portfolio-img2.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title 
                        p Project Description
                  .iso-box.wordpress.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='/project/nodekb/images/portfolio-img3.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title 
                        p Project Description
                  .iso-box.html.mobile.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='/project/nodekb/images/portfolio-img4.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title 
                        p Project Description
                  .iso-box.wordpress.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='/project/nodekb/images/portfolio-img5.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title 
                        p Project Description
                  .iso-box.html.photoshop.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='/project/nodekb/images/portfolio-img6.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title 
                        p Project Description
                  .iso-box.photoshop.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='/project/nodekb/images/portfolio-img7.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title 
                        p Project Description
                  .iso-box.wordpress.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='/project/nodekb/images/portfolio-img8.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title 
                        p Project Description
    // END PORTFOLIO
    // START RESUME
  if user  
    section#resume.tm-padding-top-bottom-100
    
      .container
        .row
          .col-md-6.col-sm-6
          
            h2.title
              | My 
              strong Profile
            p
              span.tm-info-label Name
              |  Abhijeeth Baregal
            p
              span.tm-info-label Birthday
              |  December 30, 1993
            p
              span.tm-info-label Address
              |  2509 Johnston Street Lafayette LA United States
            p
              span.tm-info-label Phone
              |  +1 337 504 8511 
            p
              span.tm-info-label Email
              |  abhijeethbaregal@gmail.com
            p
              span.tm-info-label Website
              a.tm-red-text(href='#') www.myprofile.com
          .col-md-6.col-sm-6
          
            h2.title
              strong Some
              |  Skills
            p
              | Description
            h4.tm-progress-label
              | Technologies 
              small.progress-percent-small 90%
            .progress.tm-progress
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
            h4.tm-progress-label
              | Programming Languages
              small.progress-percent-small 80%
            .progress.tm-progress
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 90%;')
            h4.tm-progress-label
              | Database
              small.progress-percent-small 70%
            .progress.tm-progress
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
    // END RESUME
    // START ABOUT
    section#about.tm-about
      .container
        .row
          .col-md-offset-6.col-md-6.col-sm-offset-6.col-sm-7
            .title
            
              h2
                | 
                strong 
              h1.tm-red-text
                | This is ABOUT ME
                strong 
          
            p
              | Description
              a(rel='nofollow', href='', target='_parent') 
              | . Description. 
              a(rel='nofollow', href='', target='_blank') 
              |  Description
            p
              | 
    // END ABOUT
    // START SOCIAL
    section#social.tm-social
      .container
      
        .row
          .col-md-4.col-sm-4.wow.rotateInUpLeft(data-wow-delay='0.3s')
  
            .media.facebook
              a(href='https://www.facebook.com/Abhijeeth.abs')
                .media-object.pull-left
                  i.fa.fa-facebook
                .media-body
                  h4.media-heading.tm-social-title Follow me on
                  h3 Social Facebook
          .col-md-4.col-sm-4.wow.rotateInUpLeft(data-wow-delay='0.9s')
      
            .media.linkedin
              a(href='https://www.linkedin.com/in/abhijeeth-baregal/')
                .media-object.pull-left
                  i.fa.fa-linkedin
                .media-body
                  h4.media-heading.tm-social-title Endorse me on
                  h3 Social linkedin
          .col-md-4.col-sm-4.wow.rotateInUpLeft(data-wow-delay='0.6s')
       
            .media.instagram
              a(href='https://www.instagram.com/the_abhi22/')
                .media-object.pull-left
                  i.fa.fa-instagram
                .media-body
                  h4.media-heading.tm-social-title Like me on
                  h3 Social instagram
    // END SOCIAL
    if user
     section#contact.tm-contact
      .container
        .row
          .col-md-12
            h2.title
                | Drop     
                strong me a message
                
          .col-md-1.col-sm-1
          .col-md-10.col-sm-10
            .contact
            form(action='send', method='POST', id= 'contactform')
              .col-md-6.col-sm-6
                input.form-control(type='text', name = "name", placeholder='Name', id = 'name')
              .col-md-6.col-sm-6
                input.form-control(type='email', name = "email",placeholder='Your Email', id ='email')
              .col-md-12.col-sm-6
                input.form-control(type='text', name = "company",placeholder='Your Company',id = 'company')
              .col-md-12.col-sm-6
                input.form-control(type='text', name = "phone",placeholder='Your Phone', id = 'phone')
              .col-md-12.col-sm-12    
                textarea.form-control(name = "message", placeholder='Your Message', rows='6', id = 'message')
              .col-md-offset-2.col-md-8.col-sm-offset-2.col-sm-8
          
                input.form-control(type='submit', value='SEND')
  
    // END CONTACT
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/smoothscroll.js')
    script(src='js/jquery.nav.js')
    script(src='js/isotope.js')
    script(src='js/imagesloaded.min.js')
    script(src='js/custom.js')
    script(src='https://www.gstatic.com/firebasejs/4.6.2/firebase.js')
    script(src='js/main.js')
    
    
