doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='')
    meta(name='description', content='')
    // SITE TITLE
    title Abhijeeth Baregal
    // STYLESHEETS
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/templatemo-style.css')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600,700', rel='stylesheet', type='text/css')
    //
      Ultra Profile Template
      http://www.templatemo.com/tm-464-ultra-profile
  body(data-spy='scroll', data-target='#rock-navigation')
    // START NAVIGATION
    .navbar.navbar-default.bs-dos-nav.navbar-fixed-top.sticky-navigation(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='#rock-navigation')
            span.icon.icon-bar
            span.icon.icon-bar
            span.icon.icon-bar
          a.navbar-brand(href='/') My Profile
        nav#rock-navigation.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right.main-navigation.text-uppercase
            li
              a.smoothScroll(href='/') Home
            if user
              li
                a.smoothScroll(href='/myprofile/add') Add Info
            if user
              li
                a.smoothScroll(href='#work') My Work
              li
                a.smoothScroll(href='#portfolio') Portfolio
              li
                a.smoothScroll(href='#resume') Resume
              li
                a.smoothScroll(href='#about') About
              li
                a.smoothScroll(href='/users/logout') Logout
            else
              li
                a.smoothScroll(href='/users/signup') SignUp
              li
                a.smoothScroll(href='/users/login') Login
    // END NAVIGATION
    // START HOME
    section#home.templatemo-home
      .container
        .row
          .col-md-2.col-sm-1
          .col-md-8.col-sm-10
            h1.tm-home-title
              strong Abhijeeth Baregal
            h2.tm-home-subtitle FrontEnd Developer
            p
              | I am a professional 
              strong UX Designer
              |  and 
              strong Front-End Developer
              |  creating modern and responsive designs for 
              strong Web
              |  and 
              strong Mobile
              | . Let us work together. Thank you.
            a.btn.btn-default.smoothScroll.tm-view-more-btn(href='#work') Let's Begin
          .col-md-2.col-sm-1
    // END HOME
    // START work
    section#work.tm-padding-top-bottom-100
      .container
        .row
          .col-md-offset-1.col-md-11
        if user
            h2.title
              | My 
              strong Work
        if user
          .col-md-4.col-sm-4
            .work-wrapper
              i.fa.fa-flash
              h3.text-uppercase.tm-work-h3 Web Design
              hr
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna.
          .col-md-4.col-sm-4
            .work-wrapper
              i.fa.fa-flash
              h3.text-uppercase.tm-work-h3 Web Design
              hr
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna.
          .col-md-4.col-sm-4
            .work-wrapper
              i.fa.fa-dashboard
              h3.text-uppercase.tm-work-h3 HTML Templates
              hr
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna.
    // END work
    // START PORTFOLIO
    section#portfolio.tm-portfolio
      .container
        .row
          .col-md-12.wow.bounce
            .title
            if user
              h2.tm-portfolio-title
                | My 
                strong Portfolio
            // START ISO SECTION
          if user
            .iso-section
              ul.filter-wrapper.clearfix
                li
                  a.opc-main-bg.selected(href='#', data-filter='*') All
                li
                  a.opc-main-bg(href='#', data-filter='.html') HTML
                li
                  a.opc-main-bg(href='#', data-filter='.photoshop') Photoshop
                li
                  a.opc-main-bg(href='#', data-filter='.wordpress') Wordpress
                li
                  a.opc-main-bg(href='#', data-filter='.mobile') Mobile
              .iso-box-section
                .iso-box-wrapper.col4-iso-box
                  .iso-box.html.photoshop.wordpress.mobile.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='images/portfolio-img1.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title UX Design
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                  .iso-box.html.wordpress.mobile.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='images/portfolio-img2.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title UX Design
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                  .iso-box.wordpress.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='images/portfolio-img3.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title UX Design
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                  .iso-box.html.mobile.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='images/portfolio-img4.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title UX Design
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                  .iso-box.wordpress.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='images/portfolio-img5.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title UX Design
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                  .iso-box.html.photoshop.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='images/portfolio-img6.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title UX Design
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                  .iso-box.photoshop.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='images/portfolio-img7.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title UX Design
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
                  .iso-box.wordpress.col-md-3.col-sm-3.col-xs-12
                    .portfolio-thumb
                      img.fluid-img(src='images/portfolio-img8.jpg', alt='portfolio img')
                      .portfolio-overlay
                        h3.portfolio-item-title UX Design
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.
    // END PORTFOLIO
    // START RESUME
    section#resume.tm-padding-top-bottom-100
      .container
        .row
        if user
          .col-md-6.col-sm-6
          
            h2.title
              | My 
              strong Profile
            p
              span.tm-info-label Name
              |  Abhijeeth Baregal
            p
              span.tm-info-label Birthday
              |  December 30, 1993
            p
              span.tm-info-label Address
              |  2509 Johnston Street Lafayette LA United States
            p
              span.tm-info-label Phone
              |  +1 337 504 8511 
            p
              span.tm-info-label Email
              |  abhijeethbaregal@gmail.com
            p
              span.tm-info-label Website
              a.tm-red-text(href='#') www.company.com
        if user
          .col-md-6.col-sm-6
          
            h2.title
              strong Some
              |  Skills
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.
            h4.tm-progress-label
              | Bootstrap 
              small.progress-percent-small 100%
            .progress.tm-progress
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
            h4.tm-progress-label
              | HTML5 
              small.progress-percent-small 90%
            .progress.tm-progress
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 90%;')
            h4.tm-progress-label
              | SEO 
              small.progress-percent-small 80%
            .progress.tm-progress
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
    // END RESUME
    // START ABOUT
    section#about.tm-about
    if user
      .container
        .row
          .col-md-offset-6.col-md-6.col-sm-offset-6.col-sm-7
            .title
            
              h2
                | This is 
                strong me
              h1.tm-red-text
                | Creative 
                strong Director
          
            p
              | This is free Bootstrap v3.3.4 mobile friendly layout from 
              a(rel='nofollow', href='http://www.templatemo.com', target='_parent') templatemo
              | . Feel free to use it for your website. Credit goes to 
              a(rel='nofollow', href='http://pixabay.com', target='_blank') Pixabay
              |  for photos used in this template. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.
    // END ABOUT
    // START SOCIAL
    section#social.tm-social
      .container
      if user
        .row
          .col-md-4.col-sm-4.wow.rotateInUpLeft(data-wow-delay='0.3s')
  
            .media.facebook
              a(href='https://www.facebook.com/Abhijeeth.abs')
                .media-object.pull-left
                  i.fa.fa-facebook
                .media-body
                  h4.media-heading.tm-social-title Follow me on
                  h3 Social Facebook
          .col-md-4.col-sm-4.wow.rotateInUpLeft(data-wow-delay='0.9s')
      
            .media.linkedin
              a(href='https://www.linkedin.com/in/abhijeeth-baregal/')
                .media-object.pull-left
                  i.fa.fa-linkedin
                .media-body
                  h4.media-heading.tm-social-title Endorse me on
                  h3 Social linkedin
          .col-md-4.col-sm-4.wow.rotateInUpLeft(data-wow-delay='0.6s')
       
            .media.instagram
              a(href='https://www.instagram.com/the_abhi22/')
                .media-object.pull-left
                  i.fa.fa-instagram
                .media-body
                  h4.media-heading.tm-social-title Like me on
                  h3 Social instagram
    // END SOCIAL
    // START CONTACT
 
    // END CONTACT
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/smoothscroll.js')
    script(src='js/jquery.nav.js')
    script(src='js/isotope.js')
    script(src='js/imagesloaded.min.js')
    script(src='js/custom.js')
